.app.dark {
    --bg-color: #00796B;
    --inverted-bg-color: #B2DFDB;

    --primary-color: #FFFFFF;
    --secondary-color: #757575;
    --inveted-primary-color: #212121;
    --inveted-secondary-color: #757575;
}
